// Here you can add other styles

td .img-avatar {
    height: 100%;
    border-radius: 50%;
}

.app-header {
    background-color: #000;
    border-bottom: 1px solid #000;
}

.custom-brand-logo {
    height: 100%;
}
